{% extends 'layout/base.html' %}

{% block tittle %}
{{ title }}
{% endblock tittle %}

{% block content %}
<div class="container bg-secondary text-white">
    <br>
    {% for p in posts %}
    <h5 class="bg-dark" style="margin: 30px 30px 5px 50px; padding: 5px 10px;">
        Статья <a href="{{ p.get_absolute_url }}">
            "{{p.title}}"</a> автора {{ p.user }}.
        Категория: {{ p.get_category_display }} | Дата:{{p.time|date:"d.m.Y" }}
    </h5>
    <div style="height: 150px">
        {% for f in p.files.all %}
        {% if f.file_type == "img" %}
        <img src="{{f.file.url}}" style="float: left; width: 150px; height: 150px; object-fit: cover; margin: 0px 10px">
        {% endif %}
        {% endfor %}
        {{ p.text|truncatechars:150 }}
    </div>
    {% endfor %}
</div>
{% endblock content %}